.Header {
    background-color: #ec4040;
    height: 105px;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-bottom: 5px;
}

.Header .Container {
    width: 20%;
    margin: auto;
}